{%  extends "base.html" %}
{% load staticfiles %}



<div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
</div>




{% block content %}

    <h1>{{ template_title }}</h1><br>
<br>
<form method="post" action="">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Sign UP!" >
</form>

{% endblock %}